

@import "./reset.scss";
@import "./variables.scss";

body {
  font-family: 'Open Sans', sans-serif;

  .about-me {

    .about-me__header {
      display: flex;
      justify-content: center;
      font-family: 'Poppins', sans-serif;
    }

    .about-me__section {
      display: grid;
      grid-template: repeat(9 1fr);
      margin-inline: auto;
      width: 100%;
      height: 70vh;

      @media screen and (min-width: 768px) {
        height: 40vh;
      }

      .background-square {
        background-color: $background-square;
        grid-area: 1/1/8/9;

        @media screen and (min-width: 768px) {
          grid-area: 1/1/9/9;
        }
      }

      .rounded-square {
        background-color: $secondary-color;
        grid-area: 6/3/9/9;
        border-radius: 100rem 0px 0px 100rem;

        @media screen and (min-width: 768px) {
          grid-area: 1/6/9/9;
        }
      }

      .selfie {
        z-index: 10;
        grid-row-end: 9;
        grid-column-end: 9;
        height: 200px;
        width: 200px;
        justify-self: end;
        align-self: flex-end;

        img {
          max-height: 100%;
          max-width: 100%;
        }
      }

    }

  }  

  .projects {

    .projects__header {
      display: flex;
      justify-content: center;
      font-family: 'Poppins', sans-serif;
    }

    .projects__section-one {
      display: grid;
      grid-template: repeat(9 1fr);
      margin-inline: auto;
      width: 100%;
      height: 70vh;
      
      @media screen and (min-width: 768px) {
        height: 40vh;
      }

      .background-square {
        background-color: $background-square;
        grid-area: 1/1/8/9;

        @media screen and (min-width: 768px) {
          grid-area: 1/1/9/9;
        }
      }

      .rounded-square {
        background-color: $secondary-color;
        grid-area: 6/1/9/7;
        border-radius: 0px 100rem 100rem 0px;

        @media screen and (min-width: 768px) {
          grid-area: 1/1/9/4;
        }
      }

    }

    .projects__section-two {
      display: grid;
      grid-template: repeat(9 1fr);
      margin-inline: auto;
      width: 100%;
      height: 70vh;

      @media screen and (min-width: 768px) {
        height: 40vh;
      }

      .background-square {
        background-color: $background-square;
        grid-area: 1/1/8/9;

        @media screen and (min-width: 768px) {
          grid-area: 1/1/9/9;
        }
      }

      .rounded-square {
        background-color: $secondary-color;
        grid-area: 6/3/9/9;
        border-radius: 100rem 0px 0px 100rem;

        @media screen and (min-width: 768px) {
          grid-area: 1/6/9/9;
        }
      }

    }

    .projects__section-three {
      display: grid;
      grid-template: repeat(9 1fr);
      margin-inline: auto;
      width: 100%;
      height: 70vh;

      @media screen and (min-width: 768px) {
        height: 40vh;
      }

      .background-square {
        background-color: $background-square;
        grid-area: 1/1/8/9;

        @media screen and (min-width: 768px) {
          grid-area: 1/1/9/9;
        }
      }

      .rounded-square {
        background-color: $secondary-color;
        grid-area: 6/1/9/7;
        border-radius: 0px 100rem 100rem 0px;

        @media screen and (min-width: 768px) {
          grid-area: 1/1/9/4;
        }
      }

    }

  }

  .tech-stack {

    .tech-stack__header {
      display: flex;
      justify-content: center;
      font-family: 'Poppins', sans-serif;
    }

    .tech-stack__background {
      display: grid;
      grid-template: repeat(5 1fr);
      margin-inline: auto;
      width: 80%;
      height: 50vh;
      background-color: $background-square;
      border-radius: 15px;

      .tech-stack__icon-one {
        grid-area: 2/2/3/3;
      }

      .tech-stack__icon-two {
        grid-area: 2/4/3/5;
      }

      .tech-stack__icon-three {
        grid-area: 4/2/5/3;
      }

      .tech-stack__icon-four {
        grid-area: 4/4/5/5;
      }

    }

  }

  .skills {

    .skills__header {
      display: flex;
      justify-content: center;
      font-family: 'Poppins', sans-serif;
    }

    .skills__section-one {
      display: grid;
      grid-template: repeat(9 1fr);
      margin-inline: auto;
      width: 100%;
      height: 70vh;

      @media screen and (min-width: 768px) {
        height: 40vh;
      }

      .background-square {
        background-color: $background-square;
        grid-area: 1/1/8/9;

        @media screen and (min-width: 768px) {
          grid-area: 1/1/9/9;
        }
      }

      .rounded-square {
        background-color: $secondary-color;
        grid-area: 6/3/9/9;
        border-radius: 100rem 0px 0px 100rem;

        @media screen and (min-width: 768px) {
          grid-area: 1/6/9/9;
        }
      }

    }

    .skills__section-two {
      display: grid;
      grid-template: repeat(9 1fr);
      margin-inline: auto;
      width: 100%;
      height: 70vh;

      @media screen and (min-width: 768px) {
        height: 40vh;
      }

      .background-square {
        background-color: $background-square;
        grid-area: 1/1/8/9;

        @media screen and (min-width: 768px) {
          grid-area: 1/1/9/9;
        }
      }

      .rounded-square {
        background-color: $secondary-color;
        grid-area: 6/1/9/7;
        border-radius: 0px 100rem 100rem 0px;

        @media screen and (min-width: 768px) {
          grid-area: 1/1/9/4;
        }
      }

    }

  }

  .contact-bar {
    background-color: #001A4D;
    color: white;
    height: 50px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;

    &__title {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 30px;
    }

    &__links {
      display: flex;
      justify-content: center;

      &--icons {
        width: 20%;
        display: flex;
        justify-content: center;
      }
    }

  }

}