

* {
  padding: 0;
  margin: 0;
}

header {
  background-color: #CFDEE7;
  height: 500px;
  border-bottom-left-radius: 50% 30px;
  border-bottom-right-radius: 50% 30px;  

  .nav-bar {
    background-color: #001A4D;
    color: white;
    height: 50px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;

    &__logo {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 15%;
    }

    &__links {
      width: 45%;
      display: flex;

      a {
        width: 20%;
        color: white;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
      }

    }


  }

  h1 {
    display: flex;
    justify-content: center;
    position: relative;
    top: 150px;
  }

}

body {

  .about-me {

    .about-me__header {
      color: red;
      display: flex;
      justify-content: center;
    }

    .about-me__section {
      display: grid;
      grid-template: repeat(9 1fr);
      margin-inline: auto;
      width: 100%;
      height: 50vh;
      border: 2px solid black;

      .background-square {
        background-color: #F1F2F2;
        grid-area: 1/1/8/9;
      }

      .rounded-square {
        background-color: #CFDEE7;
        grid-area: 6/3/9/9;
        border-radius: 100rem 0px 0px 100rem;
      }

    }

  }  

  .projects {

    .projects__header {
      color: red;
      display: flex;
      justify-content: center;
    }

    .projects__section-one {
      display: grid;
      grid-template: repeat(9 1fr);
      margin-inline: auto;
      width: 100%;
      height: 50vh;
      border: 2px solid black;

      .background-square {
        background-color: #F1F2F2;
        grid-area: 1/1/8/9;
      }

      .rounded-square {
        background-color: #CFDEE7;
        grid-area: 6/1/9/7;
        border-radius: 0px 100rem 100rem 0px;
      }

    }

    .projects__section-two {
      display: grid;
      grid-template: repeat(9 1fr);
      margin-inline: auto;
      width: 100%;
      height: 50vh;
      border: 2px solid black;

      .background-square {
        background-color: #F1F2F2;
        grid-area: 1/1/8/9;
      }

      .rounded-square {
        background-color: #CFDEE7;
        grid-area: 6/3/9/9;
        border-radius: 100rem 0px 0px 100rem;
      }

    }

    .projects__section-three {
      display: grid;
      grid-template: repeat(9 1fr);
      margin-inline: auto;
      width: 100%;
      height: 50vh;
      border: 2px solid black;

      .background-square {
        background-color: #F1F2F2;
        grid-area: 1/1/8/9;
      }

      .rounded-square {
        background-color: #CFDEE7;
        grid-area: 6/1/9/7;
        border-radius: 0px 100rem 100rem 0px;
      }

    }

  }

  .tech-stack {

    .tech-stack__header {
      color: red;
      display: flex;
      justify-content: center;
    }

    .tech-stack__background {
      display: grid;
      grid-template: repeat(5 1fr);
      margin-inline: auto;
      width: 80%;
      height: 50vh;
      border: 2px solid black;
      background-color: #F1F2F2;

      .tech-stack__icon-one {
        grid-area: 2/2/3/3;
      }

      .tech-stack__icon-two {
        grid-area: 2/4/3/5;
      }

      .tech-stack__icon-three {
        grid-area: 4/2/5/3;
      }

      .tech-stack__icon-four {
        grid-area: 4/4/5/5;
      }

    }

  }

  .skills {

    .skills__header {
      color: red;
      display: flex;
      justify-content: center;
    }

    .skills__section-one {
      display: grid;
      grid-template: repeat(9 1fr);
      margin-inline: auto;
      width: 100%;
      height: 50vh;
      border: 2px solid black;

      .background-square {
        background-color: #F1F2F2;
        grid-area: 1/1/8/9;
      }

      .rounded-square {
        background-color: #CFDEE7;
        grid-area: 6/3/9/9;
        border-radius: 100rem 0px 0px 100rem;
      }

    }

    .skills__section-two {
      display: grid;
      grid-template: repeat(9 1fr);
      margin-inline: auto;
      width: 100%;
      height: 50vh;
      border: 2px solid black;

      .background-square {
        background-color: #F1F2F2;
        grid-area: 1/1/8/9;
      }

      .rounded-square {
        background-color: #CFDEE7;
        grid-area: 6/1/9/7;
        border-radius: 0px 100rem 100rem 0px;
      }

    }

  }

  .contact-bar {
    background-color: #001A4D;
    color: white;
    height: 50px;
    font-weight: bold;

    &__title {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 30px;
    }

    &__links {
      display: flex;
      justify-content: center;

      &--icons {
        width: 20%;
        display: flex;
        justify-content: center;
      }
    }

  }

}
