

nav {
  background-color: #001A4D;
  color: white;
  height: 50px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
  }

  .links {
    width: 45%;
    display: flex;

    a {
      width: 20%;
      color: white;
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center;
    }

  }


}